<div id='scene'>

  <img src="IMG/Open_Door.png" alt="Doorway" style='position: absolute' ng-show="InventoryFactory.door_opened" usemap="#scene_murder_scene">

  <img src="IMG/Main_Room_no_knife.png" alt="Main Room" style='position: absolute' usemap="#scene_murder_scene" usemap="#scene_murder_scene">

  <img src="IMG/Knife.png" alt="Knife in Pavel" style='position: absolute' ng-hide="InventoryFactory.inventory.indexOf('knife')!=-1" usemap="#scene_murder_scene">



  <map name="scene_murder_scene">
    <!-- light -->
      <area alt="Red Warning Light" title="Warning Light" shape="rect" coords="1236,170,1116,130" href='#'/>
    <!-- green light -->
      <area alt="Green Safety Light" title="Green Safety light" shape="rect" coords="107,58,156,170" href='#' />
    <!-- body -->
      <area alt="Pavel is in trouble!" title="Pavel is in trouble!" ui-sref='pavels_body' shape="poly" coords="322,572,327,526,522,540,771,595,735,639,364,600"  href='#'/>
    <!-- doorway -->
    <area alt="Hatchway" title="Hatchway" data-target="#door" shape="circle" data-toggle="modal" coords="590, 270, 120" href='#'/>
  </map>


  <map name="enter_quarters">
    <!-- doorway -->
    <area alt="Open Door" title="Open Door" href='#' ui-sref='quarters' shape="circle" coords="590, 270, 120"/>
  </map>

</div>
